$primary: rgb(77, 151, 89);
$info: lighten($primary, 10%);
$text-strong: white;
$white-themed: rgb(31, 31, 31);
$white-themed-invert: findColorInvert($white-themed);
$black-themed: white;
$black-themed-invert: findColorInvert($black-themed);
$link: rgb(121, 150, 253);
$link-hover: lighten($link, 20%);
$code: lighten($primary, 40%);
$code-background: lighten($white-themed, 15%);
$custom-colors: (
    "white-themed": ($white-themed, $white-themed-invert),
    "black-themed": ($black-themed, $black-themed-invert),
);