$primary: rgb(77, 151, 89);
$info: lighten($primary, 10%);
$text-strong: black;
$white-themed: white;
$white-themed-invert: findColorInvert($white-themed);
$black-themed: black;
$black-themed-invert: findColorInvert($black-themed);
$link: rgb(67, 95, 217);
$link-hover: darken($link, 20%);
$code: darken($primary, 10%);
$code-background: darken($white-themed, 15%);
$custom-colors: (
    "white-themed": ($white-themed, $white-themed-invert),
    "black-themed": ($black-themed, $black-themed-invert),
);